/_build
/deps
erl_crash.dump
*.ez
ex2js
node_modules
priv/test_project/dest
priv/javascript/build
priv/javascript/dist
priv/javascript/dist_build
/dist
deploy.sh
.DS_Store
priv/javascript/scratchpad.js
sample/dest
fprof.trace
index.js
/doc
/bench/snapshots

