/_build
/deps
erl_crash.dump
*.ez
ex2js
elixirscript
node_modules
src/javascript/build
src/javascript/test_build
src/javascript/dist
src/javascript/dist_build
/dist
deploy.sh
.DS_Store
sample/dest
fprof.trace
index.js
/doc
/bench/snapshots
