/_build
/deps
erl_crash.dump
*.ez
ex2js
elixirscript
node_modules
/dist
deploy.sh
.DS_Store
sample/dest
fprof.trace
index.js
/doc
/bench/snapshots
.tern-port
test/std_lib_compile_test.exs
src/elixirscript
priv/**/*.js
stdlib_state.bin
*.log
.nyc_output
test/app/build
.vscode
cover
tmp/*
